

body
{
	background: black;
}

#world {
border: 2px white solid;
border-radius: 10px;
display: block;
width: 1000px;
height: 400px;
position: relative;
margin: 30px auto;
box-shadow: 0 0 60px 0 white;
}

.stats
{
	color:white;
}